* {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

li {
  list-style: none;
}

body {
  background: url(../images/bg.jpg) repeat;
  background-size: 50%;
}

#wrapper {
  width: 100%;
  color: #333;
  line-height: 1.5;
  font-family: 'Asap', sans-serif;
  padding-bottom: 1px;
  margin: 0 auto;
}

.floatleft {
  float: left;
}

.floatright {
  width: 24%;
  float: right;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

/* -- Page header -- */
header {
  background: url(../images/1.jpg) no-repeat 50% 40%;
  height: 230px;
  position: relative;
  border-radius: 0 0 10px 10px;
}

.header_inner {
  width: 48%;
  margin: 0 auto;
}

.leather_bg {
  position: absolute;
  z-index: 0;
  background: url(../images/leather.jpg) no-repeat;
  width: 56%;
  max-height: 120px;
  overflow: hidden;
  border-radius: 0 0 30px 30px;
  -webkit-box-shadow: 3px 3px 10px;
          box-shadow: 3px 3px 10px;
}

svg {
  position: relative;
  z-index: 1;
  width: 16%;
  float: left;
  margin: 18px 0 0 25px;
}

.st0 {
  fill: none;
  stroke: #fff292;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #fbeb78;
}

.lantern {
  stroke-width: 5;
}

.wrap_line {
  stroke-dasharray: 470;
  stroke-dashoffset: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

svg:hover .wrap_line {
  stroke-dashoffset: 470;
}

path {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

svg:hover .lantern {
  -webkit-transform: rotate(-10deg) scale(1.2);
          transform: rotate(-10deg) scale(1.2);
  -webkit-transform-origin: 40% 50%;
          transform-origin: 40% 50%;
}

/*-- headers --*/
h1 {
  position: relative;
}

h1 a {
  width: 100%;
  position: relative;
  top: 27px;
  left: 19px;
  display: block;
  font-size: calc(1.6rem + (3.7 - 1.6) * ((100vw - 375px) / (1250 - 375)));
  line-height: 1;
  text-decoration: none;
  font-family: 'Crimson Text', serif;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background: -webkit-linear-gradient(top, #fff067 0%, #fff5a6 60%, #eaaa36 66%, #f1da36 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1:before {
  content: "Hiker's Lantern";
  font-size: 90%;
  font-family: inherit;
  display: block;
  position: absolute;
  color: transparent;
  text-shadow: 0 0 10px rgba(60, 0, 0, 0.3);
  left: 105px;
  top: 21px;
}

h1 a:hover {
  opacity: 0.8;
}

h2 {
  line-height: 1.3;
  margin-bottom: 15px;
  font-size: 34px;
  padding-bottom: 10px;
  letter-spacing: 0.02em;
  text-align: left;
}

h2:first-letter {
  color: #7cc189;
  font-size: 130%;
}

.contents_center h2 {
  position: relative;
  background-color: #fff;
  padding: 0 10px;
  z-index: 2;
  border-bottom: 2px dotted #7cc189;
}

h3 {
  font-size: 2.6rem;
  border-bottom: 5px double #7cc189;
  border-top: 5px double #7cc189;
  padding: 5px 10px;
  margin-bottom: 30px;
}

/* -- Global navigation -- */
.gnavi {
  font-weight: 600;
  font-size: 20px;
  background-color: rgba(0, 52, 0, 0.7);
  padding: 5px 0 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.gnavi > ul {
  display: inline-block;
  margin: 10px auto 0;
}

.gnavi > ul > li {
  margin: 0 20px;
  float: left;
  padding-bottom: 10px;
}

.gnavi > ul > li > a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-shadow: 0 0 5px black;
}

.gnavi > ul > li > a:hover {
  opacity: 0.6;
}

/* -- footer -- */
footer {
  font-family: 'Asap', sans-serif;
  background-color: #111;
  color: #fff;
  padding: 30px 0 10px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
}

footer > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

footer li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer li a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  border-left: 1px solid #fff;
  display: inline-block;
  padding: 0 10px;
}

footer li:first-child a {
  border-left: none;
}

footer li a:hover {
  opacity: 0.8;
}

.footer_navi {
  margin-bottom: 30px;
}

.footer_sns a {
  border-left: none;
  font-size: 30px;
}

small {
  text-align: center;
  display: block;
  margin: 10px 0 10px;
  padding-top: 20px;
}

.contents, .contents_center {
  width: 88.8%;
  min-height: 700px;
  height: auto;
  background-color: #fff;
  margin: 20px auto 30px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 30px 70px;
  position: relative;
  border-radius: 10px;
}

.contents_center {
  padding: 50px 70px 100px;
}

.contents_center {
  text-align: center;
}

.contents_center h2 {
  margin-bottom: 50px;
  text-align: center;
}

.section {
  width: 100%;
  margin-bottom: 30px;
}

.index .section img {
  width: 48%;
  display: block;
  padding: 10px;
  -webkit-box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

img[src="images/2.jpg"] {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  margin: 0 5% 5% -3%;
}

img[src="images/3.jpg"] {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  margin: -3% -3% 5% 0;
}

img[src="images/4.jpg"] {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  margin: -3% 5% 5% -3%;
}

.text1 {
  width: 44%;
  margin: 20px 0;
  text-align: justify;
  letter-spacing: 0.02em;
}

.hero_image {
  height: 400px;
}

.hero_image img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
}

.category .section:first-child {
  margin-bottom: 30px;
}

.category .category_list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category .category_list li {
  width: 260px;
  margin: 0 0 50px 0;
}

.category .category_list li:nth-child(4n) {
  margin-right: none;
}

.category .category_list img {
  width: 260px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.category .category_list a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #666;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}

.category .category_list a:hover {
  opacity: 0.8;
}

.category h4 {
  font-size: 20px;
  color: #fff;
  background-color: #888;
  padding: 5px 0 8px;
  display: block;
  width: 300px;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
}

.category .brands {
  text-align: left;
  border: 1px solid #bbb;
  padding: 20px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.category .brands li {
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
}

.category .brands li:before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #7cc189;
  display: inline-block;
  margin: 0 5px 2px 0;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1110px;
  position: relative;
  margin: auto;
}

/* Hide the images by default and show first image*/
.mySlides {
  display: none;
  margin-bottom: 60px;
}

.mySlides:first-child {
  display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.1;
  }
}

/* end of w3schools how to tutorial */
.staffs_blog {
  display: float;
}

.staffs_blog .section {
  text-align: left !important;
}

.blog_posts_list > li > a {
  display: block;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s;
  transition: .3s;
  border-left: 10px solid #7cc189;
  text-decoration: none;
  margin-bottom: 30px;
}

.blog_posts_list > li > a:hover {
  opacity: 0.7;
}

.blog_post {
  display: float;
}

.post_wrapper {
  display: block;
  text-align: left;
}

.staffs_blog_main {
  float: left;
  width: 64.8%;
  margin-right: 4%;
}

.staffs_blog_main a {
  color: #333;
}

.staffs_blog_sub {
  float: left;
  width: 200px;
  padding: 20px;
  background-color: #ddd;
}

.staffs_blog h3 {
  margin-bottom: 5px;
}

.staffs_blog h5 {
  font-size: 16px;
  margin-bottom: 5px;
}

.staffs_blog h5:not(:first-child) {
  margin-top: 30px;
}

.staffs_blog .recent_posts li {
  margin-bottom: 5px;
}

.staffs_blog .blog_date {
  text-align: right;
}

.pagination {
  display: block;
  line-height: 1;
}

.pagination:before {
  content: "page: ";
  float: left;
}

.pagination li a {
  display: inline-block;
  float: left;
  padding: 0 5px 5px 5px;
}

.contact input {
  width: 400px;
  margin-bottom: 35px;
  line-height: 3;
  text-align: center;
  font-size: 16px;
}

.contact label {
  font-family: 'Asap', sans-serif;
  background-color: #555;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  padding: 3px 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.contact input[type="text"], .contact input[type="tel"], .contact input[type="email"] {
  border: none;
  border-bottom: 2px solid #aaa;
  -webkit-transition: .5s;
  transition: .5s;
}

.contact textarea {
  border: 1px solid #aaa;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  resize: none;
}

.contact input[type="text"]:focus, .contact input[type="tel"]:focus, .contact input[type="email"]:focus {
  outline: none;
  border-bottom: 5px solid #7cc189;
}

.contact input[type="submit"], .contact input[type="reset"] {
  width: 180px;
  border: none;
  display: inline-block;
  padding: 10px 0;
  border-radius: 10px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
  font-size: 20px;
  font-weight: bold;
  color: #666;
  background-color: #ddd;
}

.contact input[type="submit"] {
  margin-right: 20px;
}

.contact input[type="submit"]:hover, .contact input[type="reset"]:hover {
  border-bottom-width: 2px;
}

.thankyou {
  text-align: center;
  font-size: 25px;
}

.thankyou_contents {
  padding-bottom: 20px;
}

.thankyou_to_top {
  margin-bottom: 30px;
}

.thankyou_to_top a {
  text-align: center;
  display: block;
  font-size: 20px;
  text-decoration: none;
  padding: 20px;
  margin: 20px auto;
  border: 1px solid #aaa;
  border-bottom-width: 5px;
  width: 300px;
  border-radius: 20px;
}

.thankyou_to_top a:hover {
  border-bottom-width: 1px;
  margin-top: 24px;
}

.about .section {
  width: 76%;
  margin: 0 auto;
  font-size: 1.8rem;
}

.about .section p {
  text-align: left;
}

.google_map, .company_info {
  float: left;
}

.google_map {
  margin: 0 70px 0 0;
}

.company_info {
  width: 36.8%;
  font-size: 1.8rem;
}

.company_info dt, .company_info dd {
  text-align: left;
  float: left;
  display: inline-block;
  margin-bottom: 22px;
}

.company_info dt {
  width: 8%;
  font-weight: bold;
  background-color: #7cc189;
  color: #fff;
  padding: 0 10px;
  margin-right: 10px;
}

.company_info dd {
  width: 26.4%;
}

.about_text {
  margin-top: 80px;
}
/*# sourceMappingURL=stylesheet.css.map */