@media (max-width: $break-small) and #{$retina} {
    #wrapper {
        width: 100vw;
        overflow: hidden;
    }
    .contents, .contents_center, #content{
        width: 90%;
        margin: 0;
        padding: 5%;
        min-height: 0;
      }
      .index .section {
        display: block;
      }
      header{
          background: none;
          height: 150px;
      }
      .header_inner{
          width: 100vw;
      }
      .leather_bg{
          width: 100vw;
          position: fixed;
          max-height: 150px;
          border-radius: 0;
          z-index: 10;
      }
      svg{
        position: fixed;
        z-index: 11;
        top: 20px;
        left: 30px;
        text-align: left;
        width: 80px;
      }
      h1 a{
          font-size: 8vw;
          z-index: 11;
          position: fixed;
          padding: 10px 0 0 30px;
          top: 10px;
          left: 100px;
      }
      .header_inner .fas{
      display: inline-block !important;
      position: fixed;
      font-size: 50px;
      width:60px;
      color: $color-primary;
      background-color: $color-white;
      padding: 20px 25px;
      text-align: center;
      border-radius: 10px;
      top: 25px;
      right: 25px;
      z-index: 50;
      }
      .gnavi{
          display: none;
          width: 100vw;
          height: 100vh;
          position: fixed;
          z-index: 20;
          transition: 2s;
      }
      .gnavi-show{
          display: block;
          transition: 2s;
      }
      .gnavi>ul{
          margin-top: 10vh;
      }
      .gnavi>ul>li{
          float: none;
      }
      .gnavi>ul>li a{
          font-size: 5rem;
          display: block;
          border-bottom: 5px dotted;
          margin-bottom: 1vh;
      }

      // Contents
      h2{
          color: $color-primary;
          font-size: 2.5rem;
      }
      img[src="images/2.jpg"]{
          width: 50%;
          float: left;
          margin: -160px 50px 20px -100px;
      }
      img[src="images/3.jpg"]{
        display: none !important;
      }
      img[src="images/4.jpg"]{
        transform: rotate(0);
        margin: -3% 5% 5% -3%;
      }

      // Footer
      footer{
          padding:10px 0;

          small{
              padding: 0;
              font-size: 2rem;
          }
      }

      .footer_navi, .footer_sns{
          display: none;
      }

      // blog
      .contents_center h2{
        font-size: 4.5rem;
      }
      .staffs_blog_main{
          width: 100%;
          margin: 0;
      }
      .staffs_blog_sub{
          display: none;
      }
      .pagination{
          text-align: center;
      }
      .pagination li a{
          font-size:3rem;
          margin-right:10px
      }
      .pagination:before{
          font-size: 3rem;
      }
      // category
      .category .category_list li{
          width:$category-list-sp;
      }
      .category .category_list li img{
        width:100%;
      }
      .category .brands li{
        font-size: 3rem;
    }
}